.download {
  text-align: center;
  padding: 3em 0;
  .u-wrapper {
    & > .u-text {
      max-width: 36.25rem;
      margin: 0 auto;
      margin-bottom: 3.5em;
    }
  }
  &__grid {
    display: grid;
    row-gap: 2.5em;
    padding: 0 1em;
  }
  &__item {
    padding: 1.5em;
    padding-top: 2.5em;
    box-shadow: 0 10px 12px -5px rgba($color: map-get($colors, soft-blue), $alpha: 0.3);
    border-radius: 1em;
    background: url('../../images/bg-dots.svg') repeat-x center 70%;
    & .u-h3 {
     margin-top: 1em;
     margin-bottom: 0;
    }
    & .u-text {
      margin-top: .5em;
      margin-bottom: 4em;
    }
  }
  @media screen and (min-width: 1024px) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2.5em;
      padding-bottom: 7em;
    }
    &__item {
      &:nth-of-type(2) {
        position: relative;
        top: 4em;
      }
      &:nth-of-type(3) {
        position: relative;
        top: 7em;
      }
    }
  }
}