// css Variables
:root{
  --ft-size: 18px;
}

// sass variables
$colors: (
  light: rgb(255, 255, 255),
  soft-light: #e5e5e5,
  soft-blue: rgba(83, 104, 223, 1),
  dark-blue: hsl(229, 31%, 21%),
  light-blue: rgba(47, 53, 79, .9),
  soft-red: hsl(0, 94%, 66%),
  light-gray: #f7f7f7,
  gray-blue: hsl(229, 8%, 60%),
);
$sizes: (
  h1-size: 2rem,
  h2-size: 1.5rem,
  h3-size: 1.3rem,
  p-size: .9em
);
$weights: (500, 400);
$max-width: 75rem;
$family: 'Rubik', sans-serif;

// extends
%display-tab {
  display: block;
}

// Globals Styles
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: $family;
  font-size: var(--ft-size);
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.u-wrapper {
  max-width: $max-width;
  padding: 0 1em;
  margin: 0 auto;
}
.u-h1 {
  font-size: map-get($sizes, h1-size);
  font-weight: nth($weights, 1);
}
.u-h2 {
  @extend .u-h1;
  font-size: map-get($sizes, h2-size);
}
.u-h3 {
  @extend .u-h1;
  font-size: map-get($sizes, h3-size);
}
.u-text {
  font-size: map-get($sizes, p-size);
  font-weight: nth($weights, 2);
  color: map-get($colors, gray-blue);
  line-height: 1.8;
}
.u-button {
  padding: 1em;
  background: map-get($colors, soft-blue);
  color: map-get($colors, light);
  font-family: $family;
  font-size: map-get($sizes, p-size);
  font-weight: nth($weights, 1);
  border-radius: .5em;
  margin-left: .5em;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0.32rem 0.62rem -0.35rem map-get($colors, soft-blue);
  &:first-of-type {
    margin: 0;
  }
  &.is-gray {
    background: map-get($colors, light-gray);
    color: map-get($colors, gray-blue);
  }
  &.is-fullWidth {
    width: 100%;
  }
}
// remove later
.is-hidden {
  display: none!important;
}