@import './menu';

.header {
  position: sticky;
  z-index: 900;
  top: 0;
  left: 0;
  padding: 1em 0;
  background: map-get($colors, light);
  transition: .3s background ease;
  &__logo {
    display: block;
    width: 160px;
    height: 45px;
    background-image: url('../../images/logo-bookmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    user-select: none;
    border-radius: 0.62em;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
