.menu {
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background: map-get($colors, light-blue);
  transform: translateY(-100%);
  transition: all .3s ease;
  ul {
    padding: 0;
    margin: 1em 0;
  }
  li {
    list-style-type: none;
    border-top: 1px solid map-get($colors, gray-blue);
    &:last-of-type {
      a {
        margin-top: 1em;
        padding: .7em;
        border-radius: .7em;
        border: 0.125em solid map-get($colors, light);
      }
    }
  }
  a {
    display: block;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    color: map-get($colors, light);
  }
  &__burger {
    display: flex;
    width: 2.5em;
    height: 2.5em;
    background: url('../../images/icon-hamburger.svg') center no-repeat;
    cursor: pointer;
    user-select: none;
    border-radius: 0.62em;
    &:focus {
      border: 1px solid map-get($colors, soft-blue);
    }
    &:active {
      border: 1px solid map-get($colors, soft-blue);
    }
  }
  &__checkbox {
    display: none;
    &:checked {
      & ~ .header {
        background: map-get($colors, light-blue);
        .menu__burger {
          background: url('../../images/icon-close.svg') center no-repeat;
        }
        .header__logo {
          background-image: url('../../images/logo-bookmark-white.svg');
        }
        & .menu {
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  // Media Querie
  @media screen and (min-width: 1024px) {
    height: auto;
    position: initial;
    opacity: 1;
    visibility: visible;
    background: initial;
    transform: translateY(0);
    ul {
      display: flex;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      &:last-of-type {
        a {
          margin-top: 0;
          margin-left: 2em;
          padding: .7em 2em;
          background: map-get($colors, soft-red);
          border: none;
          border-radius: .5em;
          color:  map-get($colors, light);
        }
      }
    }
    a {
      color: map-get($colors, dark-blue);
    }
    &__burger {
      display: none;
    }
  }
}