.tabs {
  margin-top: 2em;
  border-top: 1px solid map-get($colors, gray-blue);
  &__link {
    text-align: center;
    border-bottom: 1px solid map-get($colors, gray-blue);
  }
  label {
    display: block;
    position: relative;
    padding: 1em 0;
    cursor: pointer;
    &::after {
      content: "";
      display: none;
      width: 50%;
      height: 0.31rem;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(50%);
      box-shadow: inset 0 -15px 0 -10px map-get($colors, soft-red);
    }
  }
  &__content {
    display: none;
    flex-direction: column;
    img {
      max-width: 100%;
      object-fit: contain;
      margin-bottom: 1.5em;
    }
  }
  &__grid {
    margin-top: 4em;
  }
  input[type="radio"] {
    display: none;
  }
  input[id="bookmarking"]:checked {
    & ~ .tabs__grid #tab-bookmarking {
      display: flex;
    }
    & ~ ul label[for="bookmarking"]::after{
      @extend %display-tab;
    }
  }
  input[id="searching"]:checked {
    & ~ .tabs__grid #tab-searching {
      display: flex;
    }
    & ~ ul label[for="searching"]::after{
      @extend %display-tab;
    }
  }
  input[id="sharing"]:checked {
    & ~ .tabs__grid #tab-sharing {
      display: flex;
    }
    & ~ ul label[for="sharing"]::after{
      @extend %display-tab;
    }
  }
  @media screen and (min-width: 1024px) {
    border: none;
    text-align: left;
    ul {
      display: flex;
      justify-content: center;
    }
    label {
      padding: 2em;
      &::after{
        width: 100%;
        transform: translateX(0);
      }
    }
    img {
      margin-right: 5em;
      margin-bottom: 0;
    }
    &__content {
      flex-direction: row;
      align-items: center;
    }
  }
}